{{> head}}
   {{> navbarAdmin}}
    <div class="container p-4">

    <h1 class="text-center">Bienvenido Administrador</h1>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <div class="card-header justify-content-between aling-items-center">
                <img src="assets/img/angular.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Angular</h5>
                    <p class="card-text">Curso de AngularJS</p>
                    <a href="#" class="btn btn-primary">Ir</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card-header justify-content-between aling-items-center">
                <img src="assets/img/js.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">JS</h5>
                    <p class="card-text">Curso de JS</p>
                    <a href="#" class="btn btn-primary">Ir</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card-header justify-content-between aling-items-center">
                <img src="assets/img/vue.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Vue.js</h5>
                    <p class="card-text">Curso de Vue.js</p>
                    <a href="#" class="btn btn-primary">Ir</a>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
{{> footer}}         